body{
    /* 
    формат цвета hsl удобен для ручного изменения цвета
    h-hue(цветовой оттенок)
    s - saturation(насыщенность)
    l - luminosity(яркость)
    */
    background-color: hsl(18, 48%, 95%);
}

footer, header {
    background-color: hsl(20, 25%, 20%);
}

footer button, header button:hover{
    background-color: hsl(20, 50%, 35%);
    color:white
}


footer button, header button{
    background-color: hsl(20, 25%, 35%);
    color:white
}

footer, header{
    color:white

}

.карточка{
    background-color: white;
}